networks:
  echo-server:
    name: "echo-server"

services:
  echo-server:
    build:
      context: ../
    image: ghcr.io/francoposa/echo-server-rust-logging-metrics-tracing/echo-server:latest
    container_name: echo-server
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
      #      - OTEL_EXPORTER_OTLP_ENDPOINT=http://grafana-agent:4317
      - OTEL_METRIC_EXPORT_INTERVAL=10000
    #    network_mode: host
    networks:
      echo-server:
    ports:
      - "8080:8080"

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command:
      - "--config=/etc/otel-collector-config.yaml"
    network_mode: host
    #    networks:
    #      echo-server:
    ports:
      - "4317:4317"
    volumes:
      - ./config/otel-collector-config.yaml:/etc/otel-collector-config.yaml

  # grafana agent serves as an alternative to the OTEL collector
  grafana-agent:
    image: grafana/agent:latest
    container_name: grafana_agent
    command: run --server.http.listen-addr=0.0.0.0:12345 /etc/agent/config.river
    environment:
      - AGENT_MODE=flow
    #    network_mode: host
    networks:
      echo-server:
    ports:
      - "12345:12345"
    volumes:
      - ./config/grafana-agent.river:/etc/agent/config.river

  k6-load-gen:
    image: grafana/k6:latest
    container_name: k6-load-gen
    command:
      - "run"
      - "/scripts/echo-all.js"
    network_mode: host
    #    networks:
    #      echo-server:
    volumes:
      - ../load-gen:/scripts

  mimir:
    image: grafana/mimir:latest
    container_name: mimir
    command: [ "-config.file=/mimir/config/mimir.yaml" ]
    network_mode: host
    #    networks:
    #      echo-server:
    ports:
      - "8001:8001"
    volumes:
      - ./config/mimir.yaml:/mimir/config/mimir.yaml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    network_mode: host
    #    networks:
    #      echo-server:
    ports:
      - "3000:3000"
    volumes:
      - ./config/grafana-datasource-mimir.yaml:/etc/grafana/provisioning/datasources/mimir.yaml


  jaeger:
    image: jaegertracing/all-in-one:latest  # must be >=1.35 for OTLP support
    container_name: jaeger
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    network_mode: host
    ports:
      - 4317:4317
      - 4318:4318
      - 16686:16686